.AllTheArtists {
  display: flex;
  max-width: 100%;
  flex-flow: row wrap;
  justify-content: center;
}

.EachArtist {
  padding: 15px;
  border: 1px solid black;
  border-radius: 30px;
  margin: 6px;
  text-align: center;
  cursor: pointer;
}

.Button {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.searchBar {
  width: 50%;
  padding: 12px 20px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 30px;
  font-size: x-large;
  font-weight: bolder;
  font-family: Courier New, Courier, "monospace";
}

.Button {
  border-radius: 0.5rem;
  width: 10rem;
  margin: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
  font-family: Courier New, Courier, "monospace";
  border: 1rem;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
}

.AppHeaderBody {
  display: flex;
  flex-wrap: wrap;
}
