body {
  text-align: center;
}
.AllTheArtists {
  display: flex;
  max-width: 100%;
  flex-flow: row wrap;
  justify-content: center;
}

.EachArtist {
  padding: 15px;
  border: 1px solid black;
  border-radius: 30px;
  margin: 6px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.EachArtist:hover,
.EachArtist:focus,
.EachArtist:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.Button {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.searchBar {
  width: 50%;
  padding: 12px 20px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 30px;
  font-size: x-large;
  font-weight: bolder;
  font-family: Courier New, Courier, "monospace";
}

.Button {
  border-radius: 0.5rem;
  width: 10rem;
  margin: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
  font-family: Courier New, Courier, "monospace";
  border: 1rem;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.Button:hover,
.Button:focus,
.Button:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.AppHeaderBody {
  display: flex;
  flex-wrap: wrap;
}
